.content {
	box-sizing: border-box;
  min-height: calc(100vh - 70px);
  padding-top: 200px;
	padding-bottom: 30px;
}

.main-change-pass-container {
  padding: 10px;
  margin: 100px auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.message_screen {
	display: flex;
	justify-content: center;
	margin: 50px 150px;
}
